[submodule "Frontend"]
	path = Frontend
	url = https://github.com/aswathi-sivasubramanian/Frontend.git
[submodule "omzbackend"]
	path = omzbackend
	url = https://github.com/aswathi-sivasubramanian/omzbackend.git
